# Dependency Directories
node_modules/
jspm_packages/
web_mappackages/

# Environments & Private API Keys
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Development / Production Build Folders
dist/
build/
out/
.expo/
*.tgz

# Logs and Caches
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
.parcel-cache
.cache

# OS Files
.DS_Store
Thumbs.db
